<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des livres</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Liste des livres disponibles</h1>
    <ul>
        {% for book in books %}
            <li>{{ book[1] }} par {{ book[2] }} (Quantité : {{ book[4] }})
                <form action="/borrow/{{ book[0] }}" method="post">
                    <button type="submit">Emprunter</button>
                </form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
